@reference "./theme-reference.css";

.ic {
  @apply fill-current transition-colors duration-200;
}

.s-xs {
  @apply min-w-4 w-4 min-h-4 h-4;
}

.s-s {
  @apply min-w-5 w-5 min-h-5 h-5;
}

.s-m {
  @apply min-w-6 w-6 min-h-6 h-6;
}

.s-l {
  @apply min-w-8 w-8 min-h-8 h-8;
}

.s-xl {
  @apply min-w-10 w-10 min-h-10 h-10;
}

.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: var(--a-bg-p);
  border-radius: 50%;
  outline-style: solid;
  outline-width: 0.125rem;
  outline-color: var(--a-bg-p);
  color: var(--a-txt);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconDisabled {
  svg {
    fill: var(--a-txt-mut) !important;
    stroke: var(--a-txt-mut) !important;
  }

  svg path {
    stroke: var(--a-txt-mut) !important;
  }
}

.error-icon {
  fill: var(--a-err) !important;
  stroke: var(--a-err) !important;
  color: var(--a-err) !important;

  path {
    fill: var(--a-err) !important;
    stroke: var(--a-err) !important;
  }
}

.warning-icon {
  fill: var(--a-warn) !important;
  stroke: var(--a-warn) !important;
  color: var(--a-warn) !important;

  path {
    fill: var(--a-warn) !important;
    stroke: var(--a-warn) !important;
  }
}

.info-icon {
  fill: var(--a-inf) !important;
  stroke: var(--a-inf) !important;
  color: var(--a-inf) !important;

  path {
    fill: var(--a-inf) !important;
    stroke: var(--a-inf) !important;
  }
}

.success-icon {
  fill: var(--a-scs) !important;
  stroke: var(--a-scs) !important;
  color: var(--a-scs) !important;

  path {
    fill: var(--a-scs) !important;
    stroke: var(--a-scs) !important;
  }
}

.undefined-icon {
  fill: var(--a-txt);
  stroke: var(--a-txt);

  path {
    stroke: var(--a-txt);
  }
}

.unknown-icon {
  fill: var(--a-txt-mut) !important;
  stroke: var(--a-txt-mut) !important;

  path {
    stroke: var(--a-txt-mut) !important;
  }
}

.wrapper {
  position: relative;
}
