@reference "./theme-reference.css";

.nav {
  @apply select-none;
}

.i {
  @apply inline-flex items-center justify-center min-w-[2.25rem] h-9 px-2 rounded-md;
  @apply border border-border bg-panel text-main font-medium text-sm transition-all;
}

.b {
  composes: i;
  @apply cursor-pointer;
}

.b:not(:disabled):hover {
  @apply bg-overlay;
  border-color: var(--a-sec-b);
}

.b:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.a {
  composes: b;
  @apply border-primary bg-primary text-inv font-bold;
}

.a:not(:disabled):hover {
  border-color: var(--a-b-hov);
  background-color: var(--a-b-hov);
}
