.progress-bar-value {
  height: 100%;
  background-color: var(--a-p, var(--a-p));
  transition: width 0.3s ease;
}

.progress-bar-value:not(.progress-bar-determinate) {
  width: 100%;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0 50%;
}

.progress-bar-determinate {
  transition: width 0.3s ease;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
